
.am-tab-bar-bar{
    height: 0.85rem;
    line-height: 0.85rem;
}

.am-tab-bar-bar .am-tab-bar-tab-title  {
    font-size: 0.24rem !important;
}
.am-tab-bar-bar .am-tab-bar-tab-image {
    width: 0.45rem !important;
    height: 0.45rem !important;
}